# NCDC Website scrap


Website - https://covid19.ncdc.gov.ng/

## Step 1 - Importing beautifulsoup and request

In [3]:
from bs4 import BeautifulSoup
import requests

## Step 2 - Getting NCDC url and using both request and beautifulsoup library to get text data

In [4]:
url = 'https://covid19.ncdc.gov.ng/'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [72]:
# Print out the soup to view the data extracted
print(soup)

In [73]:
# Find the table that contains the information needed
soup.find('table')

In [7]:
Table = soup.find('table')

In [74]:
print(Table)

In [13]:
#Finding all the columns(th tag)
soup.find_all('th')

[<th>States Affected</th>,
 <th>No. of Cases (Lab Confirmed)</th>,
 <th>No. of Cases (on admission)</th>,
 <th>No. Discharged</th>,
 <th>No. of Deaths</th>]

In [14]:
Covid19_Titles = soup.find_all('th')

In [15]:
print(Covid19_Titles)

[<th>States Affected</th>, <th>No. of Cases (Lab Confirmed)</th>, <th>No. of Cases (on admission)</th>, <th>No. Discharged</th>, <th>No. of Deaths</th>]

In [17]:
Covid19_Table_titles =[title.text for title in Covid19_Titles]

In [18]:
print(Covid19_Table_titles)

['States Affected', 'No. of Cases (Lab Confirmed)', 'No. of Cases (on admission)', 'No. Discharged', 'No. of Deaths']

## Step 3 - Import pandas to create a dataframe

In [19]:
#import pandas to create dataframe
import pandas as pd

In [23]:
df= pd.DataFrame(columns = Covid19_Table_titles)
df

Empty DataFrame
Columns: [States Affected, No. of Cases (Lab Confirmed), No. of Cases (on admission), No. Discharged, No. of Deaths]
Index: []

In [58]:
column_data =Table.find_all('td')

In [60]:
Covid19_row = [data.text.strip() for data in column_data]
print(len(Covid19_row))

185

In [63]:
# Import numpy libary 
import numpy as np

In [64]:
#Reshape our list to get a suitable shape for a 5 columns
rows = len(Covid19_row) // 5
Covid19_rows = np.array(Covid19_row).reshape(rows,5)
Covid19_rows

array([['Lagos', '104,286', '1,143', '102,372', '771'],
       ['FCT', '29,535', '9', '29,277', '249'],
       ['Rivers', '18,112', '-3', '17,960', '155'],
       ['Kaduna', '11,675', '3', '11,583', '89'],
       ['Plateau', '10,365', '4', '10,286', '75'],
       ['Oyo', '10,352', '0', '10,150', '202'],
       ['Edo', '7,928', '0', '7,606', '322'],
       ['Delta', '5,858', '576', '5,170', '112'],
       ['Ogun', '5,810', '11', '5,717', '82'],
       ['Kano', '5,429', '11', '5,291', '127'],
       ['Ondo', '5,173', '315', '4,749', '109'],
       ['Akwa Ibom', '5,010', '6', '4,960', '44'],
       ['Kwara', '4,691', '452', '4,175', '64'],
       ['Gombe', '3,313', '8', '3,239', '66'],
       ['Osun', '3,311', '29', '3,190', '92'],
       ['Enugu', '2,952', '13', '2,910', '29'],
       ['Nasarawa', '2,853', '469', '2,345', '39'],
       ['Anambra', '2,825', '46', '2,760', '19'],
       ['Imo', '2,691', '3', '2,630', '58'],
       ['Ekiti', '2,466', '0', '2,438', '28'],
       ['Katsina', '2,418', '0', '2,381', '37'],
       ['Benue', '2,317', '88', '2,204', '25'],
       ['Abia', '2,263', '0', '2,229', '34'],
       ['Ebonyi', '2,064', '28', '2,004', '32'],
       ['Bauchi', '2,028', '2', '2,002', '24'],
       ['Borno', '1,629', '5', '1,580', '44'],
       ['Taraba', '1,517', '32', '1,451', '34'],
       ['Bayelsa', '1,373', '2', '1,343', '28'],
       ['Adamawa', '1,312', '134', '1,140', '38'],
       ['Niger', '1,183', '165', '998', '20'],
       ['Cross River', '947', '0', '922', '25'],
       ['Sokoto', '822', '0', '794', '28'],
       ['Jigawa', '669', '2', '649', '18'],
       ['Yobe', '638', '4', '625', '9'],
       ['Kebbi', '480', '10', '454', '16'],
       ['Zamfara', '375', '0', '366', '9'],
       ['Kogi', '5', '0', '3', '2']], dtype='<U11')

In [70]:
df = pd.DataFrame(Covid19_rows, columns = Covid19_Table_titles)
df

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"104,286","1,143","102,372",771
1,FCT,"29,535",9,"29,277",249
2,Rivers,"18,112",-3,"17,960",155
3,Kaduna,"11,675",3,"11,583",89
4,Plateau,"10,365",4,"10,286",75
5,Oyo,"10,352",0,"10,150",202
6,Edo,"7,928",0,"7,606",322
7,Delta,"5,858",576,"5,170",112
8,Ogun,"5,810",11,"5,717",82
9,Kano,"5,429",11,"5,291",127
10,Ondo,"5,173",315,"4,749",109
11,Akwa Ibom,"5,010",6,"4,960",44
12,Kwara,"4,691",452,"4,175",64
13,Gombe,"3,313",8,"3,239",66
14,Osun,"3,311",29,"3,190",92
15,Enugu,"2,952",13,"2,910",29
16,Nasarawa,"2,853",469,"2,345",39
17,Anambra,"2,825",46,"2,760",19
18,Imo,"2,691",3,"2,630",58
19,Ekiti,"2,466",0,"2,438",28
20,Katsina,"2,418",0,"2,381",37
21,Benue,"2,317",88,"2,204",25
22,Abia,"2,263",0,"2,229",34
23,Ebonyi,"2,064",28,"2,004",32
24,Bauchi,"2,028",2,"2,002",24
25,Borno,"1,629",5,"1,580",44
26,Taraba,"1,517",32,"1,451",34
27,Bayelsa,"1,373",2,"1,343",28
28,Adamawa,"1,312",134,"1,140",38
29,Niger,"1,183",165,998,20
30,Cross River,947,0,922,25
31,Sokoto,822,0,794,28
32,Jigawa,669,2,649,18
33,Yobe,638,4,625,9
34,Kebbi,480,10,454,16
35,Zamfara,375,0,366,9
36,Kogi,5,0,3,2

## Step 4 - Expoting into a csv file

In [76]:
# Specify path for storing the csv file
df.to_csv(r"C:\Users\hp\Desktop\Python Scraping\NCDC.csv")